@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme {

  --font-display:"Lexend Deca","sans-serif";
  --breakpoint-3xl:1920px;
  --color-primary: #875cf5;
}
:root{
  background-color: #CCFBF1;
}
@layer base{
  html{
    font-family:var(--font-display);
  }
  body{
    overflow-x:hidden;
  }
}

.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btn-primary{
  @apply w-full text-sm font-medium text-white bg-teal-600 p-[10px] rounded-md my-1 hover:bg-teal-500
}

.card{
  @apply bg-teal-200 p-6 rounded-xl shadow-md shadow-teal-50 border border-teal-100
}
.card-btn{
  @apply flex items-center gap-3 text-[12px] font-medium text-teal-700 hover:text-teal-950 bg-teal-100 hover:bg-teal-200 px-4 py-1.5 rounded-lg cursor-pointer
}

.add-btn{
  @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-teal-800 whitespace-nowrap bg-teal-100 border border-teal-300 rounded-lg px-4 py-2  cursor-pointer ;
}

