@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme {

  --font-display:"Lexend Deca","sans-serif";
  --breakpoint-3xl:1920px;
  --color-primary: #875cf5;
}
:root{
  background-color: #CCFBF1;
}
@layer base{
  html{
    font-family:var(--font-display);
  }
  body{
    overflow-x:hidden;
  }
}

.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btn-primary{
  @apply w-full text-sm font-medium text-white bg-teal-600 p-[10px] rounded-md my-1 hover:bg-teal-500
}

.header{
  
}